In [2]:
#pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests as rs

In [7]:
url = "https://www.imdb.com/chart/top"

In [8]:
source=rs.get(url)

In [10]:
#source.text
soup = bs(source.text, 'html.parser')

In [11]:
movies_all=soup.find('tbody', class_='lister-list')

In [17]:
list_of_movie_info=(movies_all.find_all('tr'))

In [30]:
list_of_movie_info[0].find(class_='titleColumn').a.text

'The Shawshank Redemption'

In [47]:
final_name_list=[x.find(class_='titleColumn').a.text for x in list_of_movie_info]   #title comprehension --- understand this
final_rating_list = [x.find(class_='ratingColumn').strong.text for x in list_of_movie_info]
final_df = pd.DataFrame({
    "name": final_name_list,
    'rating': final_rating_list


})
final_df

                         name rating
0    The Shawshank Redemption    9.2
1               The Godfather    9.2
2             The Dark Knight    9.0
3       The Godfather Part II    9.0
4                12 Angry Men    9.0
..                        ...    ...
245                  The Help    8.0
246             Life of Brian    8.0
247            The Iron Giant    8.0
248                   Aladdin    8.0
249                  Drishyam    8.0

[250 rows x 2 columns]

In [38]:
name_df[180:]

                                             name
180  Harry Potter and the Deathly Hallows: Part 2
181                              12 Years a Slave
182                                Before Sunrise
183                      The Grand Budapest Hotel
184                                       Ben-Hur
..                                            ...
245                                      The Help
246                                 Life of Brian
247                                The Iron Giant
248                                       Aladdin
249                                      Drishyam

[70 rows x 1 columns]