In [32]:
import pandas as pd
import numpy as np
import matplotlib as plt
from ydata_profiling import ProfileReport

In [ ]:
cust_bvr=pd.read_excel("CustomerBehaviorData.xlsx")
#credit_cons=pd.read_excel("CreditConsumptionData.xlsx")
cust_demo =pd.read_excel("CustomerDemographics.xlsx")
cust_360 =cust_demo.merge(cust_bvr,on="ID")
cust_360
#profile = ProfileReport(cust_360, title="Customer Report")

#profile.to_file("CustomerProfile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

<bound method DataFrame.info of           ID  cc_cons_apr  dc_cons_apr  cc_cons_may  dc_cons_may  cc_cons_jun  \
0      17051     3412.600      2909.34      1077.36      3084.50      4615.97
1      11491    18133.760      3877.00      6123.78      5597.43     64620.00
2       7433     6363.650       735.49      8799.00     13768.00     38266.00
3      14606    12765.660      4429.16     16745.86      6360.00     29063.97
4       8381    27819.700      1944.00      7006.50      2228.50      1096.25
...      ...          ...          ...          ...          ...          ...
19995  12512     4641.500      5979.58      6008.61      4410.00     41743.00
19996  14224     4994.450      2805.37     23214.00      5870.00      1041.00
19997  18740     3262.145      2871.00      7335.25     11774.04      4130.00
19998  18134    12824.010      4866.00     12242.48       284.00     15132.77
19999  12413    26218.000      6615.00      2832.00      4642.00      1314.64

       dc_cons_jun  cc_count_apr  cc_count_may  cc_count_jun  ...  emi_active  \
0          6693.00          19.0            10             2  ...     3448.84
1          6117.00           4.0            60             1  ...     3812.69
2          2638.00           2.0            83            47  ...     9432.90
3          3711.00          12.0             2            16  ...      144.61
4          1065.00          15.0            13            61  ...     1887.89
...            ...           ...           ...           ...  ...         ...
19995      1884.00          26.0             1             4  ...     7870.88
19996      1008.73          37.0            56            50  ...     3668.30
19997      1413.00          12.0            77             1  ...     5450.34
19998     37911.00          67.0             1             4  ...       59.29
19999     11355.00           7.0             1            84  ...      793.41

       account_type  gender  age  Income  Emp_Tenure_Years  Tenure_with_Bank  \
0           current       M   30  MEDIUM               7.0                 5
1           current       M   37     LOW              10.2                 8
2           current       M   33  MEDIUM               3.9                 3
3           current       M   63     LOW              25.8                 6
4            saving       M   33  MEDIUM               6.5                 7
...             ...     ...  ...     ...               ...               ...
19995       current       M   35  MEDIUM              13.5                 1
19996       current       M   53  MEDIUM               9.9                 7
19997       current       M   62    HIGH              37.8                 8
19998       current       M   34  MEDIUM              12.6                 4
19999       current       M   27     LOW               3.5                 8

       region_code  NetBanking_Flag  Avg_days_between_transaction
0            956.0                1                          20.0
1            966.0                1                           5.0
2            505.0                1                          15.0
3            631.0                0                          15.0
4            698.0                0                           9.0
...            ...              ...                           ...
19995        523.0                0                           7.0
19996        723.0                1                           2.0
19997        863.0                1                          16.0
19998        882.0                0                          13.0
19999        447.0                1                           NaN

[20000 rows x 48 columns]>

In [23]:
cust_demo.describe

<bound method NDFrame.describe of           ID account_type gender  age  Income  Emp_Tenure_Years  \
0      19427      current      M   63  MEDIUM              30.1
1      16150      current      M   36  MEDIUM              14.4
2      11749      current      F   28  MEDIUM               4.8
3      11635      current      M   32  MEDIUM               9.6
4       8908      current      M   32    HIGH              12.0
...      ...          ...    ...  ...     ...               ...
19995   1270      current      F   66  MEDIUM              32.2
19996  15992      current      M   53  MEDIUM              19.8
19997   7081      current      F   66  MEDIUM              18.4
19998   6821      current      M   32     LOW               6.0
19999  13730      current      F  118     LOW              78.4

       Tenure_with_Bank  region_code  NetBanking_Flag  \
0                    10        628.0                1
1                    10        656.0                0
2                    10        314.0                1
3                     2        614.0                1
4                     7        750.0                1
...                 ...          ...              ...
19995                 6        354.0                1
19996                 5        809.0                0
19997                 1        466.0                0
19998                 8        619.0                0
19999                 7        882.0                1

       Avg_days_between_transaction
0                               5.0
1                              12.0
2                              13.0
3                              19.0
4                              18.0
...                             ...
19995                           7.0
19996                          14.0
19997                          10.0
19998                          17.0
19999                          10.0

[20000 rows x 10 columns]>